@page "/manage-tasks"
@inject HttpClient http
@using Domain.ViewModel
@using WebClient.Abstractions
@using WebClient.Components
@using WebClient.Shared.Components
@inject IMemberDataService memberService;
@inject ITaskDataService taskDataService;

@if (isLoaded)
{
    <div class="page-wrapper row m-0 col-12 p-0">
        <div class="col-4 p-0">
            <LeftMenu />
        </div>
        <div class="col-8 p-0">
            @if (showLister)
            {
                <div class="col-10 offset-1 pt-5">
                    <div class="row m-0">
                        <Field class="col-9 p-0 custom-input">
                            <TextEdit Placeholder="Enter New Task" @bind-text="@task.Subject" />
                        </Field>
                        <div class="col-3 p-0 text-right">
                            <Button class="add-btn px-4" @onclick="@OnAddItem">Add</Button>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <TaskListerComponent Tasks="@filteredTasks" UpdateCallback="@UpdateTask" />
                </div>
            }
            @if (false)
            {
                <div class="col-10 offset-1 pt-5">
                </div>
            }
        </div>
    </div>
}

@code {

    private TaskVm task;
    public List<TaskModel> tasks;
    public List<TaskModel> filteredTasks;
    public string newTask;


    private bool isLoaded;
    private bool showLister;

    protected override async Task OnInitializedAsync()
    {
        showLister = true;
        isLoaded = true;
        task = new TaskVm();
        tasks = new List<TaskModel>();
        filteredTasks = new List<TaskModel>();
        await LoadCurrentTasks();
    }


    private async void OnAddItem()
    {
        if (memberService?.SelectedMember != null)
        {
            task.AssignedToId = memberService.SelectedMember.Id;
        }
        var addedTaskResult = await taskDataService.CreateTask(task);
        if (addedTaskResult != null && addedTaskResult.Payload != null)
        {
            var taskVm = addedTaskResult.Payload;
            var taskModel = new TaskModel();

            taskModel.id = taskVm.Id;
            taskModel.isDone = taskVm.IsComplete;
            if (taskVm.Member != null)
            {
                var memberInfo = taskVm.Member;
                taskModel.member = new FamilyMember() { id = memberInfo.Id, firstname = memberInfo.FirstName, lastname = memberInfo.LastName, avtar = memberInfo.Avatar };
            }
            taskModel.text = task.Subject;
            this.tasks.Add(taskModel);
            this.filteredTasks.Add(taskModel);
            task.Subject = string.Empty;
            StateHasChanged();
        }
    }

    private async Task LoadCurrentTasks()
    {
        var taskResults = await taskDataService.GetAllTasks();
        foreach (var taskItem in taskResults.Payload)
        {
            tasks.Add(new TaskModel()
            {
                id = taskItem.Id,
                text = taskItem.Subject,
                isDone = taskItem.IsComplete,
                member = taskItem.Member == null ? null : new FamilyMember()
                {
                    avtar = taskItem.Member.Avatar,
                    id = taskItem.Member.Id
                }
            });
        }
        filteredTasks = tasks;
        StateHasChanged();
    }

    private async void UpdateTask(TaskModel task)
    {
        var updateTaskCommand = new Domain.Commands.UpdateTaskCommand()
        {
            IsComplete = task.isDone,
            Subject = task.text,
            Id = task.id,
            AssignedToId = task.member?.id
        };
        var result = await taskDataService.Update(updateTaskCommand);
        StateHasChanged();
    }
}